{% extends 'base.html.twig' %}

{% block container %}
    <h1>{{ test.testname }}</h1>
    <form>

    {% for question in test.questions %}

        <h3>{{question.question}}</h3>
        {% for answer in answers[question.id] %}
            {% if question.type %}
                <div class="radio">
                    <label><input type="radio" name="optradio">{{ answer.answer }}</label>
                </div>
            {% else %}
                <div class="checkbox">
                    <label><input type="checkbox" value="">{{ answer.answer }}</label>
                </div>
            {% endif %}



        {% endfor %}
    {% endfor %}
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                <input type="email" class="form-control" id="exampleInputAmount" placeholder="E-mail">
            </div>
        </div>
    </form>
{% endblock %}
